form {
    flex: 1;
    padding: 20px;
    /* box-sizing: border-box; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* border: solid black 5px; */
  }
  
  textarea, input[type="text"] {
    background-color: rgb(156, 156, 156);
    font-weight: bolder;
  }
  
  form input[type="submit"] {
    display: block;
    margin-top: 10px;
    height: 5vh;
    width: 7vh;
    background-color:rgb(156, 156, 156);
    cursor: pointer;
    font-weight: bolder;
  }
  