
body {
  font-family: "Anta", sans-serif;
  background: rgb(255,160,25);
  background: radial-gradient(circle, rgba(255,160,25,1) 0%, rgba(255,231,196,1) 100%);
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: transparent;
}

h1 {
    font-size: 50px;
}

.title-name {
  margin: 0;
}

.mode-switch {
  align-self: center;
  height: 35px;
  width: 35px;
}

main {
  display: flex;
  justify-content: space-between;
  padding: 20vh;
}

.image-container {
  flex: 1;
  text-align: right;
}

.profile-image img {
  max-width: 100%;
  height: auto;
  border-radius: 5%;
}

